

.container{
    height: 500px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    filter: brightness(50%);
    filter: opacity(30%);
    overflow-x: auto ;
    overflow: hidden;
}

.slider{
    display: block;
    width: calc(250px * 18);
    /* width: 100%; */
    animation: scroll 20s linear infinite;
    /* background-color: red; */
}

@keyframes scroll{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(calc(-250px * 9));
    }
}